body {
  background-color: #cccccc;
}


label{
  font-family: 'Questrial', sans-serif;
}

#header{
  color: white;
  background-color: #00004d;
  font-family: 'Questrial', sans-serif;
}

#totalExpenditure{
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  width: 300px;
  margin: 15px auto 50px auto;
  box-shadow: 1px 1px 1px black;
}

#submit{
  background-color: #00004d;
  color: white;
  padding: 7px;
}


/*.active:hover{
  background-color: #999999;
}*/

.true{
  background-color: #eeeeee;
}

.ng-invalid.ng-dirty {
  border-color: red;
}

.ng-valid.ng-dirty {
  border-color: green;
}

.person {
  border: 1px solid black;
  padding: 2px;
  padding-left: 5px;
}

.clicked {
  background-color: #eeeeee;
  border-color: black;
}
